.character{

  .img-marvel{
    border: 5px solid red;
    max-width:220px;
    height: 220px;
    border-radius: 10px;
    margin-bottom:5px;
  }

  .background-img{
    background-color: #c3c3c3;
  }

  .background-list{
    border-radius: 5px;
    background-color: #FFFFFF;
  }

}